<div class="container text-center">
    
    <div class="row">
        <div class="col" >
            <img src="https://images-platform.99static.com/aLH1mpGTIJbVDhk3X6t6qQbScus=/0x0:1000x1000/500x500/top/smart/99designs-contests-attachments/95/95644/attachment_95644379" alt="logo" 
        style="height: 150px;width: 150px;">
        </div>
        <div class="col-6" style="margin-top: 40px;">
            <p class="mb-1">&copy; Legendary Recipes, 2025</p>
            <p class="mb-0">Best Recipes in the worls <a href="/">Visit Instagram Page</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        </div>
        <div class="col" style="margin-top: 40px;">
            
        </div>
    </div>
    
  </div>
