<br>
<div class="container text-center" style="background-color: black;">
    <div class="row">
      <div class="col">
        <img src="https://images-platform.99static.com/aLH1mpGTIJbVDhk3X6t6qQbScus=/0x0:1000x1000/500x500/top/smart/99designs-contests-attachments/95/95644/attachment_95644379" alt="logo" 
        style="height: 150px;width: 150px;">
      </div>
      
      <div class="col-6" style="margin-top: 15px;">
        <h1 style="color: white;">LEGENDARY RECIPES</h1>
      </div>
      <div class="col">
      </div>
    </div>
  </div>